.home{
  background-image: url('/images/bg.jpg');
  background-size:cover;
  background-position: center top;
  bottom: 0;
}
.home_container{
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  color: @dark;
  #name{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
    display: inline-block;
  }
  #job{
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}