@media screen and (max-width: 1024px){
  
  #content.works .col{
    width: 50%;
    &#col3{
      clear: left;
    }
  }
  
  .quote{
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 32px;
  }
  
  iframe{
    display: none;
  }
  
}

@media screen and (max-width: 400px){
  
  header ul li{
    margin: 0 0 0 20px;
    border: 0;
    a{
      padding: 7px 0 6px 0;
    }
    &:hover{
      border: 0;
    }
  }
  
}