extends page
append content
  div#content.about
  
    div#about_general
      h2 I me and myself
      p.
        Hi, I'm a UI & UX designer and front-end developer living in Paris 
        who tries to do beautiful, elegant and usable design for web applications, print, mobile and products.
    
    div#about_graphic
      h2 Graphic skills
    
    div#about_technical
      h2 Technical skills
      
    div#about_education
      h2 Education
    
    div#about_experience
      h2 Experience
      
    div#about_contact
      h2 Contact
      p.
        Tél : 06 85 62 99 33
        br
        email : d.damien(at)live.fr