extends page
append content
  div#content.about
  
    div#about_general
      h2 Hi, I'm Damien,
      p.
        I'm the perfect mix between a designer and a developer. 
        I try everyday to do beautiful, elegant and usable interface for web applications, mobile and products. 
        I'm a javascript lover who spend all his free time to experiment new amazing technology (and also a lot of time spent to hate old browsers). 
        For me an interface can not be reduced to a fixed model. It should live or interact with the user and adapt to his support. 
        I love beautiful products, smooth and perfect pixel interfaces.
    
    .divider
    
    div#about_graphic
      h2 Graphic skills
      
      div.col
        h3 Field
        ul
          li Brand identity
          li Logos
          li Packaging
          li Print
          li Webdesign
      
      div.col
        h3 Softwares
        ul
          li Photoshop
          li Illustrator
          li Flash
          li InDesign
      .clear
    
    .divider
    
    div#about_technical
      h2 Technical skills
      
      div.col
        h3 HTML(5)
        ul
          li Responsive Design
          li Audio
          li Video
          li Canvas
          li SVG
          li App Cache
          li Web Application
          li Geolocation
          li Local / Session Storage
          
        br
        
        h3 CSS(3)
        ul
          li Transformations
          li Transitions
          li Media Queries
          li Less CSS preprocessor
          li Web & Icons font
          li Optimization
          
      div.col
        h3 Javascript
        ul
          li Vanilla JS
          li AJAX
          li jQuery / UI / Mobile / Plugins
          li Node JS + Express + Jade
          li Socket.io (some basics)
          li Mustache + Handlebars (some basics)
        br
        
        h3 And more...
        ul
          li SEO
          li PHP templating
          li Wordpress
          li Github
          li Newsletter
          li Mailchimp
          li Campagn Commander
          li Joomla (some basics)
          li Magento (some basics)
          li MySQL (some basics)
          
      .clear

    .divider
    
    div#about_career
      h2 Education & Experience
      div.col
        h3 Education
        ul
          li 2011 - 2012
          li Licence professionnelle
          li Infographiste / Webdesigner
          li
            br
          li 2009 - 2011
          li BTS Communication et Industries Graphiques
          li Option Prepresse
          li
            br
          li 2008 - 2009
          li BTS Communication visuelle
          li Option Graphisme Edition Publicite
          li
            br
          li 2008
          li Baccalaureat STI
          li Série Arts Appliqués
          
      div.col
        h3 Experience
        ul
          li January 2013 - Today
          li Weezevent
          li UI & UX Designer / Front-end-developer
          li
            br
          li May 2012 - December 2012
          li Orientis
          li Webdesigner / front-end-developer
          li
            br
          li April 2011 - June 2011
          li Gault & Fremont
          li Graphic designer - Print Packaging
          li
            br
          li October 2010 - December 2010
          li CIP
          li Graphic designer - Print
          
      .clear
    
    .divider
    
    div#about_contact
      h2 Contact
      div.col
        p +33 (0)6 85 62 99 33
      div.col
        p d.damien(at)live.fr