extends page
append content
  div#content.about
  
    div#about_general
      h2 Hi, I'm Damien,
      p.
        I'm a UI & UX designer and front-end developer living in Paris 
        who tries to do beautiful, elegant and usable design for web applications, print, mobile and products.
        Et signis prope ripam locatis ad manus comminus conserendas denseta scutorum conpage semet scientissime praestruebant, 
        ausos quoque aliquos fiducia nandi vel cavatis arborum truncis amnem permeare latenter facillime trucidarunt.
    
    .divider
    
    div#about_graphic
      h2 Graphic skills
      
      div.col
        h3 Field
        ul
          li Brand identity
          li Logos
          li Packaging
          li Print
          li Webdesign
      
      div.col
        h3 Softwares
        ul
          li Photoshop
          li Illustrator
          li Flash
          li InDesign
      .clear
    
    .divider
    
    div#about_technical
      h2 Technical skills
      
      div.col
        h3 Client side
        ul
          li HTML(5)
          li CSS(3)
          li Javascript
          li Minification / Compression
          
        br
        
        h3 Server side (not my side)
        ul
          li PHP (some basics)
          li Node JS (some basics)
          li MySQL (some basics)
          li JS templating (Jade, Handlebars, EJS)
          
      div.col
        h3 CMS
        ul
          li Wordpress
          li Ghost
          li Joomla
          li Magento (some basics)
          
        br
        
        h3 Frameworks - libraries
        ul
          li jQuery
          li Less CSS
          li SCSS
          li Modernizr
          
      .clear

    .divider
    
    div#about_career
      h2 Education & Experience
      div.col
        h3 Education
        ul
          li 2011 - 2012
          li Licence professionnelle
          li Infographiste / Webdesigner
          li
            br
          li 2009 - 2011
          li BTS Communication et Industries Graphiques
          li Option Prepresse
          li
            br
          li 2008 - 2009
          li BTS Communication visuelle
          li Option Graphisme Edition Publicite
          li
            br
          li 2008
          li Baccalaureat STI
          li Série Arts Appliqués
          
      div.col
        h3 Experience
        ul
          li January 2013 - Today
          li Weezevent
          li UI & UX Designer / Front-end-developer
          li
            br
          li May 2012 - December 2012
          li Orientis
          li Webdesigner / front-end-developer
          li
            br
          li April 2011 - June 2011
          li Gault & Fremont
          li Graphic designer - Print Packaging
          li
            br
          li October 2010 - December 2010
          li CIP
          li Graphic designer - Print
          
      .clear
    
    .divider
    
    div#about_contact
      h2 Contact
      div.col
        p +33 (0)6 85 62 99 33
      div.col
        p d.damien(at)live.fr