header
  a#logo(href='/home')
    div#peek Peek-a-boo
  ul#menu
    li#menu_works
      a(href='/works') Works
    li#menu_about
      a(href='/about') About
    li#menu_quotes
      a(href='/quotes') Quotes