header
  a#logo(href='/quotes')
    div#peek Peek-a-boo
  ul#menu
    li#menu_home
      a(href='/home') Home
    li#menu_works
      a(href='/works') Works
    li#menu_love
      a(href='/inspiration') Love
    li#menu_about
      a(href='/about') About