doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/main.less')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,800')
  body
    include header
    block content