extends page
append content
  div#content.quotes
    div.quotes_container
      div#quotes_container.vertical

        div#quote
          p#quote_sentence
          div#quote_author
          
    div#progress        