extends page
append content
  div#content.quotes
    div.quotes_container
      div#quotes_container.vertical

        div.quote.active
          p A computer without Photoshop is like a dog with no legs. Sure is fun, but you can't really do anything with it.
          div.author Benjamin Cavanagh

        div.quote
          p Real web designers write code. Always have, always will.
          div.author Jeffrey Zeldman

        div.quote
          p A common mistake that people make when trying to design something completely foolproof is to underestimate the ingenuity of complete fools.
          div.author Douglas Adams

        div.quote
          p Simplicity isn't simple.
          div.author Jonathan Ive

        div.quote
          p Design is like a mom, nobody notices when she's around, but everybody misses her when she's not.
          div.author Santiago Borray

        div.quote
          p Good design means never having to say "Click Here".
          div.author Shawn Leslie

        div.quote
          p Design should never say, "Look at me." It should always say, "Look at this".
          div.author David Craib

        div.quote
          p Design should never say, "Look at me." It should always say, "Look at this".
          div.author David Craib

        div.quote
          p Remember it takes a lot of shit, to create a beautiful flower.
          div.author Jacob Cass

        div.quote
          p My rates are as follow :
          p $50 per hour.
          p $75 per hour if you watch.
          p $100 per hour if you help.
          div.author Unknown

        div.quote
          p Computers are to design as microwaves are to cooking.
          div.author Milton Glaser

    div#previousButton <span>◀</span>previous
    div#nextButton next<span>▶</span>