extends page
append content

  div#content.works
  
    div#col1.col
      div.project_container
        img(src='/images/marlette/marlette_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/marlette')
              span.project_title Marlette
              p.project_details UI & UX Design / Front-End Development
      div.project_container
        img(src='/images/weezevent_company/weezevent_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent_company')
              span.project_title Weezevent - The Company
              p.project_details Branding / UI Design / Front-End Development
      div.project_container
        img(src='/images/lov/lov_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/lov_organic')
              span.project_title Løv Organic
              p.project_details Branding / UI Design / Front-End Development
          
    div#col2.col
      div.project_container
        img(src='/images/capmundo/capmundo_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/capmundo')
              span.project_title Cap' Mundo
              p.project_details Branding / UI & UX Design / Front & Back Development
      div.project_container
        img(src='/images/icecream/icecream_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/icecream')
              span.project_title The ice cream
              p.project_details Branding / UI & UX Design / Front & Back Development
      div.project_container
        img(src='/images/max/max_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/maxwell_production')
              span.project_title Maxwell Production
              p.project_details Branding / UI & UX Design / Front & Back Development
           
    div#col3.col
      div.project_container
        img(src='/images/kousmichoff/kousmichoff_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/kousmichoff')
              span.project_title Café Kousmichoff
              p.project_details UI & UX Design / Front-End Development
      div.project_container
        img(src='/images/forlife/forlife_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/forlife')
              span.project_title Forlife
              p.project_details Branding / UI & UX Design
      div.project_container
        img(src='/images/weezevent_widget/widget_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent_widget')
              span.project_title Weezevent - The Widget
              p.project_details UI & UX Design / Front-End Development
          
    div#col4.col
      div.project_container
        img(src='/images/weezevent_product/weez_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent_product')
              span.project_title Weezevent - The product
              p.project_details UI & UX Design / Front-End Development
      div.project_container
        img(src='/images/logos/logos_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/logos')
              span.project_title Selection of Logos
              p.project_details Branding / Graphic Design
      div.project_container
        img(src='/images/kusmitea/kusmitea_min.jpg')
        div.project_description
          div.center
            a(class='vertical', href='/projects/kusmitea')
              span.project_title Kusmi Tea
              p.project_details Branding / UI Design / Front-End Development