extends page
append content

  div#content.works
  
    div#col1.col
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding
          
    div#col2.col
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding
           
    div#col3.col
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding
          
    div#col4.col
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding
      div.project_container
        img(src='/images/width_bloc.png')
        div.project_description
          div.center
            a(class='vertical', href='/projects/weezevent')
              span.project_title Weezevent
              p.project_details Branding