extends page
append content
  div#content.experiments
    #container
      #container-details.hidden
        h2 Charts test
        p#detail-player
        p#detail-score
        p#detail-date
      svg#container-charts