extends ../page
append content
    div#content.project
    
      img(src="/images/capmundo/fullscreen.jpg" class="fullscreen")
    
      div#project_desc
        h2 Cap' Mundo
        p#project_tags Branding / UI & UX Design / Front & Back development / Art direction / Wordpress / HTML5 / Boilerplate / Coffee Brand
        p#project_text.
          CAP' MUNDO is a coffee brand offering Nespresso compatible capsules. The difference is in the coffee that is handmade roasted.
          I worked with them to establish their new brand on digital media. Much work was also done with a photographer to determine the photographic universe of the brand. The result is a website with background of generous texture, and full screen photos to make feel.
          The web site is managed with Wordpress, based on a HTML5 boilerplate template.
          <br/>
        a( class='website_link' href='http://www.cap-mundo.fr/' title='Cap Mundo' target='_blank') www.cap-mundo.fr
      
      .divider
      
      img(src="/images/capmundo/1.jpg")
      
      .divider
      
      img(src="/images/capmundo/2.jpg")
      
      .divider
      
      img(src="/images/capmundo/3.jpg")
      
      .divider
      
      img(src="/images/capmundo/4.jpg")
      
      .divider
      
      img(src="/images/capmundo/5.jpg")
      
    footer
      a(class='left', href='/projects/marlette') <span>◀</span>Previous Project
      a(class='middle_link', href='/home') All projects
      a(class='right', href='/projects/kousmichoff') Next Project<span>▶</span>
      