extends ../page
append content
    div#content.project
    
      img(src="/images/forlife/fullscreen.jpg" class="fullscreen")
    
      div#project_desc
        h2 Forlife
        p#project_tags Branding / UI & UX Design / Graphic Design / Magento / Tea Accessories / Photo Retouching
        p#project_text.
          FORLIFE was established in January 1, 1994 by the ceramic designer Masa Fujii, in Los Angeles California.
          The design philosophy of FORLIFE is simplicity with function. The brand products must have good meaning and good use for our everyday living. 
          A design task at FORLIFE is to create something that will last for a long time, and something that will stay beautiful and fresh for a lifetime.
          I participated to design their new european website. An e-commerce website managed with the Magento CMS.
          <br/>
        a( class='website_link' href='http://www.forlifedesign.eu' title='Forlife' target='_blank') www.forlifedesign.eu
      
      .divider
      
      img(src="/images/forlife/1.jpg")
      
      .divider
      
      img(src="/images/forlife/2.jpg")
      
      .divider
      
      img(src="/images/forlife/3.jpg")
      
      .divider
      
      img(src="/images/forlife/4.jpg")
      
      .divider
      
      img(src="/images/forlife/5.jpg")
      
    footer
      a(class='left', href='/projects/icecream') <span>◀</span>Previous
      a(class='middle_link', href='/works') All projects
      a(class='right', href='/projects/logos') Next<span>▶</span>
      