extends ../page
append content
    div#content.project
    
      img(src="/images/icecream/fullscreen.png" class="fullscreen")
    
      div#project_desc
        h2 The Ice Cream
        p#project_tags Branding / UI & UX Design / Front & Back development / Graphic Design / Art Direction / Digital Magazine / Personnal Project
        p#project_text.
          THE ICE CREAM is a personal project, a digital magazine about Music / Movies / Series / Books / Art / Photography / Paint / Sculpture / Exhibitions / Graphic Design / Products / Architecture / Advertising / Motion Design ... 
          The project want to be minimal and focused on content, whether visual or textual. 
          This site is managed by a very light homemade CMS, to satisfy the only needs of the site. 
          It is made with HTML5 and CSS3 and displays a responsive design, which could still be improved.
          The project never really emerged, but remains viewable.
          <br/>
        a( class='website_link' href='http://theicecream.tk/' title='The Ice Cream' target='_blank') www.theicecream.tk
        
      .divider
      
      img(src="/images/icecream/1.jpg")
      
      .divider
      
      img(src="/images/icecream/2.jpg")
      
      .divider
      
      img(src="/images/icecream/3.jpg")
      
      .divider
      
      img(src="/images/icecream/4.jpg")
      
    footer
      a(class='left', href='/projects/weezevent_company') <span>◀</span>Previous Project
      a(class='middle_link', href='/home')
      a(class='right', href='/projects/forlife') Next Project<span>▶</span>
      