extends ../page
append content
    div#content.project
    
      img(src="/images/kousmichoff/fullscreen.png" class="fullscreen")
    
      div#project_desc
        h2 Café kousmichoff
        p#project_tags Branding / UI & UX Design / Front-End Development / Kusmi Tea / Cafe / Kousmichoff / Worsdpress / One page
        p#project_text.
          KUSMI TEA (or Kusmi-Tea) is a brand of tea with headquarters in Paris, France. 
          The company, which produces Russian-style teas and tea blends, was established by Pavel Michailovitch Kousmichoff (Павел Михайлович Кузьмичёв, 1840-1908) in 1867 in St. Petersburg, Russia. 
          The company has changed hands several times since then and now sells a wide variety of blended and flavoured teas. 
          I worked several months in their digital team on various projects like this mini-site based on wordpress and launched for the opening of their flagship store.
          <br/>
        a( class='website_link' href='http://www.cafekousmichoff.com/' title='Cafe Kousmichoff' target='_blank') www.cafekousmichoff.com
      
      .divider
      
      img(src="/images/kousmichoff/1.jpg")
      
      .divider
      
      img(src="/images/kousmichoff/2.jpg")
      
      .divider
      
      img(src="/images/kousmichoff/3.jpg")
      
      .divider
      
      img(src="/images/kousmichoff/4.jpg")
      
      .divider
      
      img(src="/images/kousmichoff/5.jpg")
      
    footer
      a(class='left', href='/projects/capmundo') <span>◀</span>Previous Project
      a(class='middle_link', href='/home')
      a(class='right', href='/projects/weezevent_product') Next Project<span>▶</span>
      