extends ../page
append content
    div#content.project
    
      img(src="/images/kusmitea/fullscreen.jpg" class="fullscreen")
    
      div#project_desc
        h2 Kusmi Tea
        p#project_tags Branding / UI & UX Design / Graphic Design / Front-End Development / Magento / Photo Retouching
        p#project_text.
          KUSMI TEA (or Kusmi-Tea) is a brand of tea with headquarters in Paris, France. 
          The company, which produces Russian-style teas and tea blends, was established by Pavel Michailovitch Kousmichoff (Павел Михайлович Кузьмичёв, 1840-1908) in 1867 in St. Petersburg, Russia. 
          The company has changed hands several times since then and now sells a wide variety of blended and flavoured teas. 
          I worked several months in their digital team on various projects : home page, landing page, facebook game, web app, mailing, newsletters generation tool, e-commerce website...
          <br/>
        a( class='website_link' href='http://www.kusmitea.com/' title='Kusmi Tea' target='_blank') www.kusmitea.com
      
      .divider
      
      img(src="/images/kusmitea/1.jpg")
      
      .divider
      
      img(src="/images/kusmitea/2.jpg")
      
      .divider
      
      img(src="/images/kusmitea/3.jpg")
      
      .divider
      
      img(src="/images/kusmitea/4.jpg")
      
      .divider
      
      img(src="/images/kusmitea/5.jpg")
      
      .divider
      
      img(src="/images/kusmitea/6.jpg")
      
    footer
      a(class='left', href='/projects/weezevent_widget') <span>◀</span>Previous Project
      a(class='middle_link', href='/home')
      a(class='right', href='/projects/marlette') Next Project<span>▶</span>
      