extends ../page
append content
    div#content.project
    
      div#project_desc
        h2 Selection of logos
        p#project_tags Branding / Graphic Design / Art Direction / Logos
        p#project_text.
          Here is a selection of logos created for various companies / brands : <br/>
          - Koikibook : Service and online directory <br/>
          - Prim'Nature : Brand of organic cosmetics <br/>
          - Coopengo : Open Source software publisher for all players in the Insurance and Social Protection <br/>
          - Teads.tv : A complete video solution for publishers and ad networks <br/>
          - INHAC : Institute of Hostelry and Culinary Arts <br/>
          - Clinique de la vision : Eye clinic
      
      .divider
      
      img(src="/images/logos/1.png")
      
      .divider
      
      img(src="/images/logos/2.png")
      
      .divider
      
      img(src="/images/logos/3.png")
      
      .divider
      
      img(src="/images/logos/4.png")
      
      .divider
      
      img(src="/images/logos/5.png")
      
      .divider
      
      img(src="/images/logos/6.png")
      
    footer
      a(class='left', href='/projects/forlife') <span>◀</span>Previous
      a(class='middle_link', href='/works') All projects
      a(class='right', href='/projects/lov_organic') Next<span>▶</span>
      