extends ../page
append content
    div#content.project
    
      img(src="/images/lov/fullscreen.jpg" class="fullscreen")
    
      div#project_desc
        h2 Løv Organic
        p#project_tags Branding / UI & UX Design / Graphic Design / Front-End Development 
        p#project_text.
          LOV ORGANIC is an organic luxury tea brand which was born in September 2010 as the organic sister of the Kusmi Tea brand. 
          Løv Organic offers a collection of organic teas resulting of a winning combination of innovative blends and attractive eco-conceived packaging.
          I worked several months in their digital team on various projects : home page, landing page, facebook game, web app, mailing, newsletters generation tool, e-commerce website or video ...
          <br/>
        a( class='website_link' href='http://www.lov-organic.com/' title='Løv Organic' target='_blank') www.lov-organic.com
        
      .divider
      
      img(src="/images/lov/1.jpg")
      
      .divider
      
      img(src="/images/lov/2.jpg")
      
      .divider
      
      img(src="/images/lov/3.jpg")
      
      .divider
      
      img(src="/images/lov/4.jpg")
      
      .divider
      
      img(src="/images/lov/5.jpg")
      
      .divider
      
      iframe(src="http://www.youtube.com/embed/r8_eYKiXuEE?rel=0&controls=0&modestbranding=1" width="100%")
      
    footer
      a(class='left', href='/projects/logos') <span>◀</span>Previous
      a(class='middle_link', href='/works') All projects
      a(class='right', href='/projects/maxwell_production') Next<span>▶</span>
      