extends ../page
append content
    div#content.project
    
      img(src="/images/marlette/fullscreen.jpg" class="fullscreen")
    
      div#project_desc
        h2 Marlette
        p#project_tags Branding / UI & UX design / Front-End Development / Graphic Design / Wordpress / E-commerce / Photo retouching
        p#project_text.
          MARLETTE offers a variety of delicious sweet and savory baking mixes that are easy to make at home. 
          An assorted line of gourmet mixes produced locally and by hand… this is the key to Marlette’s recipes, created by two sisters. <br/>
          I worked with the brand on the design of their e-commerce site. A minimal design integrated in a wordpress website.
          <br/>
        a( class='website_link' href='http://www.marlette.fr/' title='Marlette' target='_blank') www.marlette.fr
      
      .divider
      
      img(src="/images/marlette/1.jpg")
      
      .divider
      
      img(src="/images/marlette/2.jpg")
      
      .divider
      
      img(src="/images/marlette/3.jpg")
      
      .divider
      
      img(src="/images/marlette/4.jpg")
      
      .divider
      
      img(src="/images/marlette/5.jpg")
      
    footer
      a(class='left', href='/projects/kusmitea') <span>◀</span>Previous
      a(class='middle_link', href='/works') All projects
      a(class='right', href='/projects/capmundo') Next<span>▶</span>
      