extends ../page
append content
    div#content.project
    
      div#project_desc
        h2 Maxwell Production
        p#project_tags Branding / UI & UX Design / Art Direction / Front & Back Development / Youtube API / Photographer
        p#project_text.
         MAXWELL PRODUCTION was created by the photographer and video maker Maxime Trucas. I made this minisite to enable him to present his work. 
         A minimal design to highlight the visual content and a simple ergonomy that allow to go quickly to the essential.
         The management of video content is made thanks to a youtube playlist called via the API.
          <br/>
        a( class='website_link' href='http://maxwellproduction.fr' title='Maxwell Production' target='_blank') maxwellproduction.fr
      
      .divider
      
      img(src="/images/max/1.jpg")
      
      .divider
      
      img(src="/images/max/2.jpg")
      
      .divider
      
      img(src="/images/max/3.jpg")
      
      .divider
      
      img(src="/images/max/4.jpg")
      
      .divider
      
      img(src="/images/max/5.jpg")
      
    footer
      a(class='left', href='/projects/lov_organic') <span>◀</span>Previous
      a(class='middle_link', href='/works') All projects
      a(class='right', href='/projects/weezevent_widget') Next<span>▶</span>
      