extends ../page
append content
    div#content.project
    
      img(src="/images/weezevent_company/fullscreen.jpg" class="fullscreen")
      
      div#project_desc
        h2 Weezevent - The company
        p#project_tags Branding / UI & UX Design / Front-End Development / Graphic Design / Print / Ticketing Solution / Business
        p#project_text.
          WEEZEVENT is a French start-up that provides online event registration and ticketing services to event organizers. 
          Previously working in the events industry, the 3 founders encountered difficulties in selling tickets over the Internet. 
          So they devised a simple solution to solve this problem. 
          Today, the company help more than 20,000 event organizers by providing a web self-service application that enables to manage easily their ticketing module, registration or online invitation.
          This is the work on the identity of the brand. A fat and minimalist design applied to their business website, business card, booklet, ...
          <br/>
        a( class='website_link' href='http://www.weezevent.com/' title='Weezevent - The company' target='_blank') www.weezevent.com
        
      .divider
      
      img(src="/images/weezevent_company/1.jpg")
      
      .divider
      
      img(src="/images/weezevent_company/2.jpg")
      
      .divider
      
      img(src="/images/weezevent_company/3.jpg")
      
      .divider
      
      img(src="/images/weezevent_company/4.jpg")
      
      .divider
      
      img(src="/images/weezevent_company/5.jpg")
      
    footer
      a(class='left', href='/projects/weezevent_product') <span>◀</span>Previous Project
      a(class='middle_link', href='/home')
      a(class='right', href='/projects/icecream') Next Project<span>▶</span>
      