extends ../page
append content
    div#content.project
      
      div#project_desc
        h2 Weezevent - The widget
        p#project_tags Branding / Webdesign / Front-end development / Graphic Design / Print
        p#project_text.
          La enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, maxime excellit. Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius; sed ego admiratione quadam virtutis eius. Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
          Post haec Gallus Hierapolim profecturus ut expeditioni specie tenus adesset, iam sperabatur, non ut mos est principibus, quorum diffusa potestas localibus subinde medetur aerumnis, disponi quicquam statuit vel ex provinciis alimenta transferri conterminis.
      
      .divider
      
      img(src="/images/weezevent_widget/1.jpg")
      
      .divider
      
      img(src="/images/weezevent_widget/2.jpg")
      
      .divider
      
      img(src="/images/weezevent_widget/3.jpg")
      
      .divider
      
      img(src="/images/weezevent_widget/4.jpg")
      
      .divider
      
      img(src="/images/weezevent_widget/5.jpg")
      
    footer
      a(class='left', href='/projects/weezevent') <span>◀</span>Previous Project
      a(class='middle_link', href='/projects/weezevent')
      a(class='right', href='/projects/weezevent') Next Project<span>▶</span>
      