extends ../page
append content
    div#content.project
      
      div#project_desc
        h2 Weezevent - The Ticketing Module
        p#project_tags Branding / UI & UX Design / Front-End Development / PHP / CSS / Less CSS / Javascript
        p#project_text.
          WEEZEVENT is a French start-up that provides online event registration and ticketing services to event organizers.
          Today, the company help more than 20,000 event organizers by providing a web self-service application that enables to manage easily their ticketing module, registration or online invitation.
          I worked several weeks on their ticketing module. A lot of work has been done about the UI & UX design. 
          This module uses PHP, MySQL, HTML, Javascript and CSS (compiled and minified with Less CSS). A necessary redesign since this module performs nearly 10,000 daily sales.
      
      .divider
      
      img(src="/images/weezevent_widget/1.jpg")
      
      .divider
      
      img(src="/images/weezevent_widget/2.jpg")
      
      .divider
      
      img(src="/images/weezevent_widget/3.jpg")
      
      .divider
      
      img(src="/images/weezevent_widget/4.jpg")
      
      .divider
      
      img(src="/images/weezevent_widget/5.jpg")
      
    footer
      a(class='left', href='/projects/weezevent_widget') <span>◀</span>Previous
      a(class='middle_link', href='/works') All projects
      a(class='right', href='/projects/kusmitea') Next<span>▶</span>
      