extends ../page
append content
    div#content.project
    
      img(src="/images/weezevent_product/fullscreen.png" class="fullscreen")
      
      div#project_desc
        h2 Weezevent - The product
        p#project_tags UI & UX Design / Front-End Development / HTML / CSS / Javascript / PHP / MySQL
        p#project_text.
          WEEZEVENT is a French start-up that provides online event registration and ticketing services to event organizers.
          Today, the company help more than 20,000 event organizers by providing a web self-service application that enables to manage easily their ticketing module, registration or online invitation.
          I work since January 2013 on the various products of the company : A web application (PHP & MySQL),  an application on-site sales (BackboneJS & HTML5) linked to a thermal printer, a native iOS application to control tickets at the events entry.
          <br/>
        a( class='website_link' href='http://www.weezevent.com/' title='Weezevent - The product' target='_blank') www.weezevent.com
      
      .divider
      
      img(src="/images/weezevent_product/1.jpg")
      
      .divider
      
      img(src="/images/weezevent_product/2.jpg")
      
      .divider
      
      img(src="/images/weezevent_product/3.jpg")
      
      .divider
      
      img(src="/images/weezevent_product/4.jpg")
      
      .divider
      
      img(src="/images/weezevent_product/5.jpg")
      
      .divider
      
      img(src="/images/weezevent_product/6.jpg")
      
    footer
      a(class='left', href='/projects/kousmichoff') <span>◀</span>Previous Project
      a(class='middle_link', href='/home')
      a(class='right', href='/projects/weezevent_company') Next Project<span>▶</span>
      