#content.experiments{
  margin: 0;
  height: 100%;
  background: url('/images/experiments/charts/bg.jpg');
  background-size: cover;
  font-family: 'Arial';
}

#container{
  position: relative;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  background: #FFF;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
}

#container-charts{
  position: absolute;
  width: 96%;
  height: 92%;
  top: 4%;
  right: 2%;
  background: #FFF;
  border: 1px solid #DDD;
}

#container-charts text{
  font-size: 11px;
  fill: #000;
}

#container-charts line{
  stroke: rgba(0,0,0,0.2);
  stroke-width: 1px;
  stroke-dasharray: 5px 10px;
}

#container-charts rect{
  stroke-width: 2px;
  stroke: #FFF;
}

#container-charts rect:hover{
  cursor: pointer;
  opacity: 0.7;
}

#container-details{
  float: left;
  width: 0;
  height: 100%;
  background: #F2F2F2;
}

#container-details.hidden *{
	display: none;
}

h2{
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  width: 80%;
  margin: 20px auto 0 auto;
  border-bottom: 1px solid #333;
  padding: 0 0 10px 0;
}

#container-details p{
  width: 80%;
  margin: 15px auto 0 auto;
  font-family: monospace;
  color: #333;
}

#container-details p strong{
  text-transform: capitalize;
}